@charset "UTF-8";
@import url(./reset.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");
:root {
  --white: #fff;
  --color-primary: #93c637;
  --greyscale-000000: #000000;
  --greyscale-222228: #222228;
  --greyscale-36363f: #36363f;
  --greyscale-5b5b67: #5b5b67;
  --greyscale-6e6e7d: #6e6e7d;
  --greyscale-7d7d8b: #7d7d8b;
  --greyscale-a0a0ab: #a0a0ab;
  --greyscale-2c2c35: #2c2c35;
  --color-263a32: #0c1f0c;
  --color-dcf8d9: #dcf8d9;
  --white-f7f8f9: #f7f8f9;
  --white-edeff3: #edeff3;
  --white-e4e4e7: #e4e4e7;
  --greenscale-1e2424: #1e2424;
  --greenscale-353f3f: #353f3f;
  --greenscale-4d5b5b: #4d5b5b;
  --greenscale-647777: #647777;
  --greenscale-7a8b8b: #7a8b8b;
  --greenscale-7d9191: #7d9191;
  --greenscale-99a9a9: #99a9a9;
  --greenscale-b4c0c0: #b4c0c0;
  --greenscale-d0d7d7: #d0d7d7;
  --color-primary-strong: #597526;
  --color-f0faea: #f0faea;
  --greyscale-c3c3ca: #c3c3ca;
  --number-4: 4px;
  --number-4-rem: 0.25rem;
  --number-8: 8px;
  --number-8-rem: 0.5rem;
  --number-16: 16px;
  --number-16-rem: 1rem;
  --lightgreen-6dbf40: #6dbf40;
  --lightgreen-9cdd79: #9cdd79;
  --lightgreen-c2ecac: #c2ecac;
  --color-aef1a7: #aef1a7;
  --color-394b34: #394b34;
  --color-ecf4da: #ecf4da;
  --color-6d8e58: #6d8e58;
  --color-bdc753: #bdc753;
  --error: #ff493e;
  --complete: #709ef5;
}

html {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, HelveticaNeue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  letter-spacing: -0.02em;
}

body {
  min-width: 1024px;
  min-width: 1440px;
  position: relative;
  padding-top: 64px;
  box-sizing: border-box;
}

textarea {
  resize: none;
}

Select {
  font-family: inherit; /* 폰트 상속 */
  background: url(../img/btn-drop-arrow.svg) no-repeat 98% 50%;
  /* 네이티브 화살표를 커스텀 화살표로 대체 */
  -webkit-appearance: none;
  /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
}

Select::-ms-expand {
  display: none; /* 화살표 없애기 for IE10, 11*/
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

.lineClamp3 {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.imgWrap {
  width: 100px;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.imgWrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  box-sizing: border-box;
}

.flex {
  display: flex;
  align-items: center;
  gap: 4px;
}

.gap4 {
  gap: 4px;
}

.gap8 {
  gap: 8px;
}

.gap16 {
  gap: 16px;
}

.gnb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 64px;
  box-sizing: border-box;
  background-color: #fff;
  border-bottom: 1px solid #E4E4E7;
  z-index: 10;
}
.gnb .right {
  display: flex;
  align-items: center;
  gap: 16px;
}
.gnb .right .alarm {
  cursor: pointer;
}
.gnb .right .profile {
  display: flex;
  align-items: center;
  gap: 8px;
}
.gnb .right .imgWrap {
  width: 32px;
  border-radius: 50%;
  border: 1px solid #222222;
}
.gnb .right .imgWrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
.gnb .right .name {
  color: #222;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
}

.lnb {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 12px;
  width: 266px;
  background: #FFF;
  box-shadow: 0px 4px 24px 0px rgba(121, 131, 142, 0.1);
  height: 100%;
  box-sizing: border-box;
}
.lnb ul {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  gap: 4px;
}
.lnb ul li a {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 16px;
  height: 48px;
  border-radius: 13px;
  color: #222;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 19.6px */
  letter-spacing: -0.28px;
  transition: 0.2s;
}
.lnb ul li a:hover {
  background: #F0FAEA;
  color: var(--primary);
}
.lnb ul li a:hover svg circle {
  transition: 0.2s;
  stroke: var(--primary);
}
.lnb ul li a:hover svg rect {
  transition: 0.2s;
  fill: var(--primary);
}
.lnb ul li a:hover svg path {
  transition: 0.2s;
  stroke: var(--primary);
}
.lnb ul li.ac a {
  background: var(--primary, #6DBF40);
  color: #FFFFFF;
}
.lnb ul li.ac a svg circle {
  stroke: #FFFFFF;
}
.lnb ul li.ac a svg rect {
  fill: #FFFFFF;
}
.lnb ul li.ac a svg path {
  stroke: #FFFFFF;
}
.lnb ul + ul {
  border-top: 1px solid #E4E4E7;
}

.layout--conetnts {
  position: relative;
  padding-left: 266px;
}

.contents {
  padding: 40px;
  box-sizing: border-box;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.contents .layout--dual {
  display: flex;
  gap: 32px;
}
.contents .layout--dual .layout--left {
  flex: 1 0 725px;
  width: 50%;
}
.contents .layout--dual .layout--side {
  flex: 1 0 340px;
}
.contents h1 {
  color: #000;
  font-family: Pretendard;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 50.4px */
  letter-spacing: -0.72px;
}
.contents h3 {
  margin-bottom: 16px;
  color: #5B5B67;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.32px;
}
.contents .update--para {
  margin-bottom: 20px;
  color: #AEAEC2;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 18.2px */
  letter-spacing: -0.26px;
}
.contents .pageBtn {
  position: absolute;
  top: 48px;
  right: 40px;
}
.contents .page-tabs {
  background: #F7F8F9;
  border-radius: var(--radius-xs, 4px);
  border: 0;
  box-sizing: border-box;
  height: 48px;
  margin-bottom: 20px;
}
.contents .page-tabs .nav-item {
  flex: 1 0 0;
}
.contents .page-tabs .nav-item .nav-link {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  height: 48px;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-xs, 4px);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  line-height: 20px; /* 125% */
  letter-spacing: -0.32px;
  color: #7A8B8B;
  font-weight: 400;
  border: 0;
}
.contents .page-tabs .nav-item .nav-link.active {
  font-weight: 700;
  background: #353F3F;
  color: #FFF;
}
.contents .page-tab-content {
  display: flex;
  width: 725px;
  padding: var(--spacing-8, 32px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-10, 40px);
  border-radius: 8px;
  border: 1px solid #ECEDF0;
  background: #FFF;
  width: 100%;
}
.contents .page-tab-content .tab-pane {
  width: 100%;
}
.contents .page-tab-content .tab-paneWrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}
.contents .page-tab-content .tab-paneWrap h3 {
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
}
.contents .component--grid table {
  table-layout: fixed;
  width: 100%;
}
.contents .component--grid table th {
  height: 48px;
  padding: 0 16px;
  border-bottom: 1px solid #C6CACE;
  background: #F7F8F9;
  vertical-align: middle;
  color: #263A32;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.28px;
}
.contents .component--grid table td {
  vertical-align: middle;
  padding: 8px 16px;
  color: #71717A;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 164%; /* 22.96px */
  letter-spacing: -0.28px;
}
.contents .component--grid table .profile {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #000;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.28px;
}
.contents .component--grid table .imgWrap {
  width: 36px;
  border-radius: 50%;
}
.contents .component--grid table td {
  border-bottom: 1px solid #F1F3F7;
}
.contents .component--grid table td.accTd {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 40px;
}
.contents .component--grid table .accordion-button {
  position: absolute;
  top: 14.5px;
  right: 18px;
  width: 16px;
  transition: 0.35s;
}
.contents .component--grid table .accordion-button.collapsed {
  transform: rotate(180deg);
}
.contents .component--grid table .accordion-collapse {
  display: block;
  height: 20px;
  overflow: hidden;
}
.contents .component--grid table .accordion-collapse.show {
  height: auto;
}
.contents .component--grid table .accordion-body {
  padding: 0;
  color: #71717A;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 164%; /* 22.96px */
  letter-spacing: -0.28px;
}
.contents .component--table .tableWrap {
  padding: 20px 16px;
  border-radius: var(--radius-xs, 4px);
  border: 1px solid #E4E7ED;
  background: #F7F8F9;
}
.contents .component--table table {
  width: 100%;
  table-layout: fixed;
}
.contents .component--table table tr th {
  width: 120px;
  color: #71717A;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  padding: 4px;
}
.contents .component--table table tr td {
  color: #000;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.28px;
  padding: 4px;
}
.contents .component--table table tr td .divider {
  display: inline-block;
  margin: 0 4px;
}
.contents .component--download .tray {
  border-radius: var(--radius-xs, 4px);
  border: 1px solid #E4E7ED;
  background: #F7F8F9;
  padding: 16px var(--spacing-0, 0px);
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contents .component--download .tray .divider {
  width: 100%;
  height: 1px;
  background-color: #E4E7ED;
}
.contents .component--download .tray .top {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 16px 32px;
}
.contents .component--download .tray .bottom {
  padding: 0 20px;
}
.contents .component--download .tray .imgWrap {
  border-radius: 50%;
  flex: 0 0 auto;
}
.contents .component--download .tray .tit {
  color: #36363F;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  letter-spacing: -0.32px;
  margin-bottom: 8px;
}
.contents .component--download .tray .desc {
  color: #71717A;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 164%; /* 22.96px */
  letter-spacing: -0.28px;
}
.contents .component--download .tray .download {
  width: 100%;
  display: flex;
  padding: 4px 12px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: var(--radius-xs, 4px);
  border: 1px solid #E4E4E7;
  background: #FFF;
}
.contents .component--download .tray .download + .download {
  margin-top: 8px;
}
.contents .component--download .tray .download .flex {
  gap: 8px;
  flex: 1 0 0;
  max-width: 90%;
}
.contents .component--download .tray .download .filename {
  color: #36363F;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 200% */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.contents .component--download .tray .download .vol {
  color: #7A7F84;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 233.333% */
}
.contents .component--download .tray .download .ic {
  width: 16px;
  height: 16px;
  background: url(../img/ic_download.svg) center no-repeat;
  text-indent: -9999px;
}
.contents .component--graph .tray {
  border-radius: var(--radius-xs, 4px);
  border: 1px solid #E4E7ED;
  background: #F7F8F9;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 20px;
}
.contents .component--graph .graph {
  width: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.contents .component--graph .graph .graph1 {
  border-radius: 50%;
  width: 100%;
  aspect-ratio: 1/1;
  background-color: #C2ECAC;
}
.contents .component--graph .graph .graph2 {
  border-radius: 50%;
  aspect-ratio: 1/1;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #9CDD79;
}
.contents .component--graph .graph .graph3 {
  border-radius: 50%;
  aspect-ratio: 1/1;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary);
}
.contents .component--graph li {
  display: flex;
  align-items: center;
  gap: 8px;
}
.contents .component--graph li + li {
  margin-top: 16px;
}
.contents .component--graph .bold {
  color: #9898A6;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.28px;
}
.contents .component--graph b {
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
}
.contents .component--graph span {
  color: #9898A6;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.28px;
}
.contents .component--graph .circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #C2ECAC;
}
.contents .component--graph li:nth-child(2) .circle {
  background: #9CDD79;
}
.contents .component--graph li:nth-child(3) .circle {
  background: var(--primary);
}
.contents .component--para h3 {
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
  margin-bottom: 8px;
}
.contents .component--para p {
  color: #8A8A93;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 164%; /* 22.96px */
  letter-spacing: -0.28px;
}
.contents .component--summary {
  padding-left: 132px;
  position: relative;
}
.contents .component--summary .imgWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  border-radius: 50%;
  border: 1px solid #F1F3F7;
}
.contents .component--summary .flex {
  margin-bottom: 4px;
}
.contents .component--summary b {
  color: #000;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 28px */
  letter-spacing: -0.4px;
}
.contents .component--summary span {
  color: #000;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
}
.contents .component--summary .link {
  display: inline-flex;
  align-items: center;
  margin-right: 9px;
  gap: 6px;
  color: #71717A;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  letter-spacing: -0.28px;
}
.contents .component--summary p {
  margin: 4px 0;
  color: #71717A;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  letter-spacing: -0.28px;
}
.contents .component--summary .lineBox {
  display: inline-block;
  color: #71717A;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 133.333% */
  border: 1px solid #E4E4E7;
  padding: 6px 10px;
}

.btn--primary {
  display: inline-flex;
  height: 40px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: var(--radius-xs, 4px);
  background: var(--color-primary, #93C637);
  color: #FFF;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  border: 0;
  transition: 0.2s;
}
.btn--primary:hover {
  background: var(--color-primary-strong, #597526);
}
.btn--primary:disabled {
  color: var(--white-E4E4E7, #E4E4E7);
  background: var(--greyscale-C3C3CA, #C3C3CA);
}

.btn--normal {
  display: inline-flex;
  height: 40px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  background-color: transparent;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  border-radius: var(--radius-xs, 4px);
  transition: 0.2s;
  color: var(--greyscale-7D7D8B, #7D7D8B);
  border: 1px solid var(--white-E4E4E7, #E4E4E7);
}
.btn--normal:hover {
  border: 1px solid var(--greyscale-C3C3CA, #C3C3CA);
  color: var(--greyscale-5B5B67, #5B5B67);
}
.btn--normal:disabled {
  color: var(--greyscale-7D7D8B, #7D7D8B);
  border: 1px solid var(--white-E4E4E7, #E4E4E7);
  opacity: 0.5;
}

.component--comment h3 {
  color: #000;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  margin-bottom: 38px;
}
.component--comment .nodata {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--text-text-muted-foreground, #71717A);
  text-align: center;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  margin-bottom: 38px;
}
.component--comment textarea {
  display: flex;
  height: 80px;
  padding: 8px 12px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: var(--radius-xs, 4px);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  width: 100%;
  margin-bottom: 8px;
  color: var(--greyscale-222228, #222228);
  border: 1px solid var(--white-E4E4E7, #E4E4E7);
  transition: 0.2s;
}
.component--comment textarea::-moz-placeholder {
  color: var(--greyscale-C3C3CA, #C3C3CA);
}
.component--comment textarea::placeholder {
  color: var(--greyscale-C3C3CA, #C3C3CA);
}
.component--comment textarea:hover, .component--comment textarea:active, .component--comment textarea:focus {
  outline: none;
  border: 1px solid var(--primary, var(--primary));
}
.component--comment textarea:disabled {
  opacity: 0.7;
}
.component--comment .btnWrap {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
}

.rBadge {
  display: inline-flex;
  align-items: center;
  padding: 0 10px;
  height: 21px;
  color: #5BC115;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  padding-top: 1px;
  letter-spacing: -0.24px;
  border-radius: var(--radius-rounded-full, 9999px);
  background: #DCF8D9;
}

.layout--login {
  padding-bottom: 210px;
}
.layout--login .inner {
  max-width: 440px;
  padding: 0 20px;
  margin: 0 auto;
}
.layout--login .loginWrap {
  margin-top: 80px;
  display: flex;
  width: 400px;
  padding: 16px;
  flex-direction: column;
  align-items: center;
}
.layout--login .loginWrap.signup {
  align-items: flex-start;
}
.layout--login .loginWrap.signup .checkAll {
  width: 100%;
  padding: 16px 0;
  border-bottom: 1px solid var(--white-E4E4E7, #E4E4E7);
  color: var(--greyscale-000000, #000);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
  letter-spacing: -0.32px;
}
.layout--login .loginWrap.signup .detail label {
  margin-top: 24px;
}
.layout--login .loginWrap.signup .btn--primary {
  margin-top: 34px;
  width: 100%;
}
.layout--login h2 {
  color: var(--greyscale-000000, #000);
  text-align: center;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 38.4px */
  letter-spacing: -0.144px;
  margin-bottom: 34px;
}
.layout--login .nav {
  width: 100%;
  border: 0;
}
.layout--login .nav .nav-item {
  flex: 1 0 0;
}
.layout--login .nav .nav-item .nav-link {
  width: 100%;
  border: 0;
  display: flex;
  height: 38px;
  padding: 0px 12px;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid transparent;
  color: var(--greyscale-A0A0AB, #A0A0AB);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 22.4px */
}
.layout--login .nav .nav-item .nav-link.active {
  color: var(--greyscale-000000, #000);
  border-bottom: 2px solid var(--color-primary, #93C637);
}
.layout--login .tab-content {
  width: 100%;
}
.layout--login .tab-pane {
  width: 100%;
}
.layout--login .formWrap {
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.layout--login .linkWrap {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.layout--login .linkWrap .link {
  color: var(--greyscale-6E6E7D, #6E6E7D);
  text-align: center;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  text-decoration-line: underline;
}

input {
  border-radius: 4px;
  border: 1px solid var(--white-E4E4E7, #E4E4E7);
  background: #FFF;
  width: 100%;
  padding: 4px 12px;
  height: 36px;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  letter-spacing: -0.28px;
  color: var(--greyscale-222228, #222228);
}
input::-moz-placeholder {
  color: var(--greyscale-C3C3CA, #C3C3CA);
}
input::placeholder {
  color: var(--greyscale-C3C3CA, #C3C3CA);
}
input:focus {
  border: 1px solid var(--color-primary, #93C637);
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--greyscale-6E6E7D, #6E6E7D);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 16.8px */
  letter-spacing: -0.28px;
}
.checkboxLabel input {
  display: none;
}
.checkboxLabel i {
  display: block;
  width: var(--number-16, 16px);
  height: var(--number-16, 16px);
  border-radius: var(--number-4, 4px);
  border: 1px solid var(--greyscale-A0A0AB, #A0A0AB);
  background: #FFF;
  cursor: pointer;
}
.checkboxLabel input:checked + i {
  border: 0;
  background: var(--color-primary, #93C637) url(../img/ic_check_on.svg) center no-repeat;
}
.checkboxLabel .link {
  color: var(--greyscale-000000, #000);
  text-decoration-line: underline;
}

footer {
  margin-top: 80px;
  width: 100%;
  padding: var(--spacing-12, 48px) 0px;
  background: var(--white-F7F8F9, #F7F8F9);
  color: var(--greyscale-7D7D8B, #7D7D8B);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
}
footer .inner {
  max-width: 1240px;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-6, 24px);
}
footer .mid {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer .mid div {
  display: flex;
  align-items: center;
  gap: 12px;
}
footer .copyright {
  color: var(--greyscale-5B5B67, #5B5B67);
  opacity: 0.5;
}/*# sourceMappingURL=style.css.map */