@import url(./reset.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");

:root {
    --white: #fff;
	--primary: #75DE2E;
}


$gnbHeight : 64px;
$lnbWidth : 266px;


html {
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, HelveticaNeue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
	letter-spacing: -0.02em;
}

body {
	min-width: 1024px;
	min-width: 1440px;
	position: relative;
	padding-top: $gnbHeight;
	// padding-left: $lnbWidth;
	box-sizing: border-box;
}

textarea {
	resize: none;
}
Select {
	font-family: inherit;  /* 폰트 상속 */
	background: url(../img/btn-drop-arrow.svg) no-repeat 98% 50%;
	 /* 네이티브 화살표를 커스텀 화살표로 대체 */
        -webkit-appearance: none; 
	/* 네이티브 외형 감추기 */
        -moz-appearance: none;
        appearance: none;
}
Select::-ms-expand {
        display: none;/* 화살표 없애기 for IE10, 11*/
}

a {
	text-decoration: none;
}

input {
	outline: none;
}

.lineClamp3 {
	overflow:hidden;
	text-overflow:ellipsis;
	-webkit-line-clamp: 3;	
	-webkit-box-orient: vertical;
	display: -webkit-box;
}
// 타블렛브레이크 포인트
@media screen and (max-width:768px) {

}
// 모바일브레이크 포인트
@media screen and (max-width:1280px) {
	
}
  

.imgWrap {
	width: 100px;
	aspect-ratio: 1/1;
	overflow: hidden;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		box-sizing: border-box;
	}
}

.flex {
	display: flex;
	align-items: center;
	gap: 4px;
}

.gap4 {gap: 4px;}
.gap8 {gap: 8px;}
.gap16 {gap: 16px;}

.gnb {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	height: $gnbHeight;
	box-sizing: border-box;
	border-bottom: 1px solid #E4E4E7;
	.right {
		display: flex;
		align-items: center;
		gap: 16px;
		.alarm {
			cursor: pointer;
		}
		.profile {
			display: flex;
			align-items: center;
			gap: 8px;
		}
		.imgWrap {
			width: 32px;
			border-radius: 50%;
			border: 1px solid #222222;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				cursor: pointer;
			}
		}
		.name {
			color: #222;
			font-family: Pretendard;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 140%; /* 19.6px */
		}
	}
}

.lnb {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 12px;
	width: $lnbWidth;
	background: #FFF;
	box-shadow: 0px 4px 24px 0px rgba(121, 131, 142, 0.10);
	// height: calc(100vh - $gnbHeight);
	height: 100%;
	box-sizing: border-box;
	ul {
		display: flex;
		flex-direction: column;
		padding: 20px 0;
		gap: 4px;
		li {
			a {
				display: flex;
				align-items: center;
				gap: 8px;
				padding: 0 16px;
				height: 48px;
				border-radius: 13px;
				color: #222;
				font-family: Pretendard;
				font-size: 14px;
				font-style: normal;
				font-weight: 600;
				line-height: 140%; /* 19.6px */
				letter-spacing: -0.28px;
				transition: 0.2s;
				&:hover {
					background: #F0FAEA;
					color: #75DE2E;
					svg {
						circle {
							transition: 0.2s;
							stroke:#75DE2E;
						}
						rect {
							transition: 0.2s;
							fill:#75DE2E;
						}
						path {
							transition: 0.2s;
							stroke:#75DE2E;
						}
					}
				}
			}
			&.ac {
				a {
					background: linear-gradient(90deg, #5CD51A 0%, #85E33B 100%);
					color: #FFFFFF;
					svg {
						circle {
							stroke:#FFFFFF;
						}
						rect {
							fill:#FFFFFF;
						}
						path {
							stroke:#FFFFFF;
						}
					}
				}
			}
		}
	}
	ul + ul {
		border-top: 1px solid #E4E4E7;
	}
}
.layout--conetnts {
	position: relative;
	padding-left: $lnbWidth;
}
.contents {
	padding: 40px;
	box-sizing: border-box;
	position: relative;
	max-width: 1200px;
	margin: 0 auto;

	.layout--dual {
		display: flex;
		gap: 32px;
		.layout--left {
			flex: 1 0 725px;
		}
		.layout--side {
			flex: 1 0 340px;
		}
	}

	h1 {
		color: #000;
		font-family: Pretendard;
		font-size: 36px;
		font-style: normal;
		font-weight: 700;
		line-height: 140%; /* 50.4px */
		letter-spacing: -0.72px;
	}
	h3 {
		margin-bottom: 20px;
		color: #5B5B67;
		font-family: Pretendard;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 140%; /* 22.4px */
		letter-spacing: -0.32px;
	}


	.update--para {
		margin-bottom: 20px;
		color: #AEAEC2;
		font-family: Pretendard;
		font-size: 13px;
		font-style: normal;
		font-weight: 400;
		line-height: 140%; /* 18.2px */
		letter-spacing: -0.26px;
	}
	p {

	}
	.pageBtn {
		position: absolute;
		top: 48px;
		right: 40px;
	}

	.page-tabs {
		background: #F7F8F9;
		border-radius: var(--radius-xs, 4px);
		border: 0;
		box-sizing: border-box;
		height: 48px;
		margin-bottom: 20px;
		.nav-item {
			flex: 1 0 0;
			.nav-link {
				box-sizing: border-box;
				width: 100%;
				display: flex;
				height: 48px;
				padding: 0 16px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: var(--radius-xs, 4px);
				font-family: Pretendard;
				font-size: 16px;
				font-style: normal;
				line-height: 20px; /* 125% */
				letter-spacing: -0.32px;
				color: #7A8B8B;
				font-weight: 400;
				border: 0;
				&.active {
					font-weight: 700;
					background: #353F3F;
					color: #FFF;
				}
			}
		}
	}


	.page-tab-content {
		display: flex;
		width: 725px;
		padding: var(--spacing-8, 32px);
		flex-direction: column;
		align-items: flex-start;
		gap: var(--spacing-10, 40px);
		border-radius: 8px;
		border: 1px solid #ECEDF0;
		background: #FFF;
		width: 100%;
		.tab-pane {
			width: 100%;
		}
		.tab-paneWrap {
			display: flex;
			flex-direction: column;
			gap: 40px;
			width: 100%;
		}
	}

	.component--para {
		h3 {
			color: #000;
			font-family: Pretendard;
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: 20px; /* 125% */
			margin-bottom: 8px;
		}
		p {
			color: #8A8A93;
			font-family: Pretendard;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 164%; /* 22.96px */
			letter-spacing: -0.28px;
		}
	}

	.component--summary {
		padding-left: 132px;
		position: relative;
		.imgWrap {
			position: absolute;
			top: 0;
			left: 0;
			width: 100px;
			border-radius: 50%;
			border: 1px solid #F1F3F7;
		}
		.flex {
			margin-bottom: 4px;
		}
		b {
			color: #000;
			font-family: Pretendard;
			font-size: 20px;
			font-style: normal;
			font-weight: 700;
			line-height: 140%; /* 28px */
			letter-spacing: -0.4px;
		}
		span {
			color: #000;
			font-family: Pretendard;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			letter-spacing: -0.28px;
		}
		.rBadge {
			display: flex;
			align-items: center;
			padding: 0 10px;
			height: 21px;
			color: #5BC115;
			font-family: Pretendard;
			font-size: 12px;
			font-style: normal;
			font-weight: 700;
			line-height: 1;
			padding-top: 1px;
			letter-spacing: -0.24px;
			border-radius: var(--radius-rounded-full, 9999px);
			background: #DCF8D9;
		}
		.link {
			display: inline-flex;
			align-items: center;
			margin-right: 9px;
			gap: 6px;
			color: #71717A;
			font-family: Pretendard;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 160%; /* 22.4px */
			letter-spacing: -0.28px;
		}
		p {
			margin: 4px 0;
			color: #71717A;
			font-family: Pretendard;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 160%; /* 22.4px */
			letter-spacing: -0.28px;
		}
		.lineBox {
			display: inline-block;
			color: #71717A;
			font-family: Pretendard;
			font-size: 12px;
			font-style: normal;
			font-weight: 600;
			line-height: 16px; /* 133.333% */
			border: 1px solid #E4E4E7;
			padding: 6px 10px;
		}
	}
}

.btn--primary {
	display: inline-flex;
	height: 40px;
	padding: 8px 16px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	flex-shrink: 0;
	border-radius: var(--radius-xs, 4px);
	background: var(--primary, #75DE2E);
	color: #FFF;
	font-family: Pretendard;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px; /* 142.857% */
	border: 0;
	transition: 0.2s;
	&:hover {
		background: #55CE12;
	}
}

.btn--normal {
	display: inline-flex;
	height: 40px;
	padding: 8px 16px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	flex-shrink: 0;
	color: #808088;
	background-color: transparent;
	font-family: Pretendard;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px; /* 142.857% */
	border-radius: var(--radius-xs, 4px);
	border: 1px solid #E4E4E7;
	transition: 0.2s;
	&:hover {
		color: #5F5F67;
	}
}


.component--comment {
	h3 {
		color: #000;
		font-feature-settings: 'liga' off, 'clig' off;
		font-family: Inter;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 24px; /* 150% */
		margin-bottom: 38px;
	}
	.nodata {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 8px;
		color: var(--text-text-muted-foreground, #71717A);
		text-align: center;
		font-family: Pretendard;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 20px; /* 142.857% */
		margin-bottom: 38px;
	}
	textarea {
		display: flex;
		height: 80px;
		padding: 8px 12px;
		flex-direction: column;
		align-items: flex-start;
		align-self: stretch;
		border-radius: var(--radius-xs, 4px);
		border: 1px solid #E4E4E7;
		font-family: Pretendard;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px; /* 142.857% */
		color: #222;
		width: 100%;
		margin-bottom: 8px;
		&::placeholder {
			color: #BFBFC7;
		}
		&:active,
		&:focus {
			outline-color: var(--primary, #75DE2E);
			// border-color: #55CE12;
		}
	}
	.btnWrap {
		display: flex;
		justify-content: flex-end;
		gap: 6px;
	}
}